body {margin:0;padding:0;background-color:SILVER;font-size:12px;font-family:Georgia, "Times New Roman", Times, serif;text-align:justify;color:#5C5C5C}
.fleft {float:left}
.fright {float:right}
.fclear {clear:both}
.inner_copy, .inner_copy a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
h1, h2, h3 {margin:20;font-weight:normal;color:#fff}
h1 {letter-spacing:-1px;font-size:32px}
h2 {font-size:23px}
p, ul, ol {margin:0 0 2em 0;text-align:justify;line-height:26px}
a {color:#1B75A9;text-decoration:none}
a:hover, a:active {text-decoration:none;color:#1B75A9}
a:visited {color:#1B75A9}
img {border:none}
/* Form */
form {margin:0;padding:0}
fieldset {margin:0;padding:0;border:none}
legend {display:none}
input, textarea, select {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:13px;color:#333}
#wrapper {margin:0;padding:0}
/* Header */
#header {width:880px;margin:0 auto;border:10px #fff solid}
/* Menu */
#nav {position:relative;height:43px;font-size:14px;text-transform:uppercase;background:#fff;font-family:Georgia, "Times New Roman", Times, serif}
#nav ul {margin:0;padding:0;list-style-type:none;width:auto;float:left}
#nav ul li {display:block;float:left;margin:0 2px}
#nav ul li a {display:block;float:left;color:#FE8309;text-decoration:none;padding:0 0 0 25px;height:43px;line-height:50px}
#nav ul li a span {display:block;float:left;padding:0 25px 0 0;height:31px;width:auto}
#nav ul li a:hover {color:#fff}
#nav ul li a:hover span {display:block;cursor:pointer}
#nav ul li a.current,#nav ul li a.current:hover {color:#894d12;background:#fff}
#nav ul li a.current span {background:#fff;height:43px}
/** LOGO */
#logo {width:880px;background:url(images/icon.gif) no-repeat;height:80px;margin:0 auto}
/* Page */
#page {width:880px;margin:0 auto;background:#fff;border:10px #fff solid}
/* Content */
#content {float:left;width:620px;border-right:1px dashed #DFE1E0}
/* Post */
.post {padding:0 20px;margin-bottom:20px}
.post .title {margin-bottom:20px;padding-bottom:5px}
.post h1 {width:520px;padding:0 0 0 0px;font-size:60px;color:#D62F0B;margin:20}
.post h2 {width:520px;padding:0 0 0 0px;font-size:22px;color:#28313A}
.post .entry {}
.post .meta {padding:15px 15px 30px 0px;font-size:10px}
.post .meta p {margin:0;padding-top:50px;line-height:normal;color:#28313A}
.post .meta .byline {float:left}
.post .meta .links {float:right}
.post .meta .more {padding:0 20px 0 18px}
.post .meta .comments {padding-left:22px}
.post .meta b {display:none}
/* Sidebar */
#sidebar {float:right;width:230px;margin:0;padding:0}
#sidebar ul {margin:0;padding:0;list-style:none}
#sidebar li {margin-bottom:5px}
#sidebar li ul {}
#sidebar li li {margin:0}
#sidebar h2 {width:250px;padding:8px 0 0 0px;margin-bottom:10px;font-size:20px;color:#28313A}
/* Search */
#search {}
#search h2 {margin-bottom:20px}
#s {width:140px;margin-right:5px;padding:3px;border:1px solid #DFE1E0}
#x {padding:3px;border:none;background:#0A5688;text-transform:lowercase;font-size:11px;color:#fff}
/* Boxes */
.box1 {padding:20px}
.box2 {color:#BABABA}
.box2 h2 {margin-bottom:15px;font-size:16px;color:#fff}
.box2 ul {margin:0;padding:0;list-style:none}
.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited {color:#EDEDED}
/* Footer */
#footer-wrap {}
#footer {width:880px;margin:0 auto;background:#fff2df;border:10px #fff solid}
#footer p {padding-left:350px}
#img1{
    width:10px;
    height:10px; 
}
#img3{
    width:10px;
    height:10px; 
}
#img2{
    width:10px;
    height:10px; 
}
#banner{
    width:200px;
    height:100px; 
}